.App {
  text-align: center;
}

.input-div{
  border: 1px solid black;
  margin-top: 20px;
  padding: 25px;
}


.input-div input{
  outline: none;
  border: 1px solid grey;
  padding: 6px;
  margin: 10px;
}

button{
  margin: 10px;
}

.todo{
  background-color: gray;
  padding: 5px;
  margin: 5px;
}

.tinput{
  border: 1px solid black;
  display: flex;
  gap: 2;
  padding-left: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding-bottom: 24px;
  background: skyblue;
}